@import './_variables.css';

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    font-size: 18px;
    font-family: "Segoe UI";
    color: #505050;
    overflow-x:hidden
}

/* custom class */
h1{
    font-size: 35px;
}
.container{
    max-width:1100px;
    margin: 0 auto;
}
.font-bold{
    font-weight:bold;
}
.text-center{
    text-align:center;
}

.sub-heading{
    font-size: 25px;
    display: inline-block;
}

.d-block{
    display:block
}

.container .sub-heading{
    position:absolute;
    left:50%;
    transform: translateX(-50%)
}

.sub-heading::after{
    content:'';
    display:block;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    border-bottom: 3px solid var(--primaryColor);
    width: 50%;
    padding-top: 8px;
}

.sfsi_widget{
    position:relative;
}

.sfsi_wDiv{
    display:flex;
    justify-content: center;
    left:50%;
    transform: translateX(-55%)
}

section{
    margin-bottom: 3rem;
    position:relative;
}

section .content{
    padding-top: 4.5rem;
}

    /*custom card*/
    .card{
        width:100%;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
        border-top: 7px solid var(--primaryColor)
    }

    .card-body{
        position:relative;
        height:100%;
    }

    .card .card-body a{
        position:absolute;
        bottom:0;
    }
    /*end custom card*/

    /* buttons */
    .btn{
        display: block;
        padding: 8px 15px;
        text-align:center;
        color: #fafafa;
        width:100%;
        text-decoration:none;
        border-radius: 15px;
        font-weight: 600
    }
    .btn-secondary{
        background-color: var(--secondaryColor);
    }

    .btn-primary{
        background-color: var(--primaryColor);
    }

/* end custom styles */


/* header styles */
header#header{
    position:relative;
    width:100vw;
    height: 100vh;
    margin-bottom: 3rem;
}

header#header .container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color: #fafafa;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, .6);
}

.site-title{
    font-size: 5rem;
    margin-bottom: .5rem;
}

header#header .container h4{
    font-weight:normal;
    font-size: 25px;
    margin-bottom: 3rem;
}

header#header .container a{
    display:inline;
    padding: 12px 25px;
    text-shadow: 0 0 0;
    border-radius: 10px;
}

header#header .container .sub-heading::after{
    content: '';
}

#jssor_1{
    width:100vw !important;
    height: 100vh !important;
}

#jssor_1 .slides{
    width:100vw !important;
    height: 100vh !important;
}

#jssor_1 .slides div{
    width:100vw !important;
    height: 100vh !important;
}

img.img-slider{
    width:100% !important;
    height:100% !important;
    cursor:pointer;
    filter: brightness(.5)
}
/* end header styles */

/* news styles */
section#news .content{
    display:grid;
    grid-gap: 35px;
    grid-template-columns: repeat(3, auto);
}

section#news .content h3{
    margin-bottom: 1rem;
}

section#news .content p{
    margin-bottom: 4rem;
}
/* end news styles */

/* save date section */
    section#save_date{
        background-color: var(--accentColor);
        padding: 4rem 25px;
        text-align:center;
        color: #fafafa;
    }

    section#save_date h1{
        margin-bottom: 2rem;
    }

    .time-start{
        margin-top: 1rem;
        font-size: 20px;
        font-weight:bold
    }
/* end save date section */

/* footer styles */
footer{
    background-color: var(--accentColor);
    padding: 3rem 25px;
    color: #fafafa
}

footer .container{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 25px;
}

footer .container h3{
    margin-bottom: 1rem;
}

footer .subscribe input{
    width: 100%;
    padding: 8px;
    outline:none;
    border:none;
    font-size: 18px;
    border-radius: 7px;
}

footer .subscribe button{
    width: 30%;
    margin:0 auto;
    outline:none;
    border:none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0 , .2);
    font-size: 16px;
    font-family: "Segoe UI";
    border-radius: 10px;
    cursor:pointer;
    margin-top: 1rem;
}
/* end footer styles */

/* single page styles */
header#single-page{
    background-color: var(--accentColor);
    padding: 3rem;
    color: #fafafa;
}

section#content{
    margin-top: 2rem;
    min-height:32vh;
}
/* end single page styles */

/* sidebar styles */
aside#sidebar{
    position:fixed;
    top:0;
    left:-31%;
    height:100vh;
    z-index:999;
}

#sidebar h2{
    margin-bottom: 1.5rem;
}

#sidebar .widget-area{
    width: 30vw;
    height:100%;
    padding: 25px;
    background-color: #fafafa;
    box-shadow: 4px 2px 8px rgba(0, 0, 0, .3);
    overflow-y:scroll
}

#sidebar .widget-area .sponsors-wrapper{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    margin: auto
}

#sidebar .widget-area img{
    width:100%;
    height: 120px;
    margin-bottom: .5rem;
}

.collapse{
    position:absolute;
    top:5%;
    right: -15%;
    transition: all 1s;
}

.collapse .bars{
    width: 35px;
    cursor:pointer
}

.collapse .bars .bar{
    width: 100%;
    height: 5px;
    background-color: #fafafa;
}

.collapse .bars .bar:nth-of-type(2){
    margin: 5px 0;
}

.collapse.active .bars .bar:nth-of-type(2){
    display:none
}

.collapse.active .bars .bar:nth-of-type(1){
    transform:rotate(55deg)
}

.collapse.active .bars .bar:nth-of-type(3){
    transform:rotate(-55deg) translate(10%, -50%)
}
/* end sidebar styles */